/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#showToggler, #hideToggler{
  cursor:pointer;
  width:20;
}

#sidebar{
  background-color:	#303030; 
  box-shadow: 2px 5px 3px;
  width:20%;
  height:100vh;
  padding-top:20px;
  text-align: left;
  float:left;
}
.user-info{ 
  padding-top: 20px; 
  text-align: center;
  color: white;
}
.subtitle{
  color: #adb0bb;
  font-size: 15px;
}
.avatar{
  border: 8px	#4b4b4b solid;
  width:100px;
  height:100px;
  margin-bottom:20px;
  margin-top:20px;
  display: inline-block;
}
.small-avatar{
  width:50px;
  height:50px;
  margin-right:10px; 
}
#ref{
  font-size:18px;
  margin-left:45px;
  color:white;
}

.content{
  display:none;
}
.show{
  display:block;
}

.graph-wrapper{
  background-Color:#282c36;
  color: white;
  text-align: left;
}
.graph-wrapper h6{
  padding-top: 10px;
  margin-left:20px;
}
.graph-wrapper div{
  margin-left:20px;
}
.graph{
  width:100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.graph img{
  width:100%;
  height:100%;
  object-fit: contain;
}
