html, body {
  margin: 0;
}

.user-info{ 
  padding-top: 20px; 
  text-align: center;
  color: white;
}
.subtitle{
  color: #adb0bb;
  font-size: 15px;
}
.avatar{
  border: 8px	#4b4b4b solid;
  width:100px;
  height:100px;
  margin-bottom:20px;
  margin-top:20px;
  display: inline-block;
}
.small-avatar{
  width:70px;
  height:70px;
  margin-right:10px; 
}
.graph-wrapper{
  background-Color:#282c36;
  color: white;
  text-align: left;
}
.graph-wrapper h6{
  padding-top: 10px;
  margin-left:20px;
}
.graph-wrapper div{
  margin-left:20px;
}
.graph{
  width:100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.graph img{
  width:100%;
  height:100%;
  object-fit: contain;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  opacity: 0.5;
}
.bm-item:hover{
  color: white;
  opacity: 1;
}
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 18px;
  float: left;
  left: 40px;
  top: 48px;
}
.bm-burger-bars {
  background: #1d181d;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-menu {
  background: #1d181d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.activeLink{
  text-decoration: none;
  color: #89beb3;
  border: none;
  opacity: 1;
}